include pybuild/templates/*.html
include pybuild/static_code/DIDApiTL/*
include pybuild/static_code/DIDApiEC/*
include pybuild/static_code/bosch_headers/*
include pybuild/static_code/csp_headers/*
include pybuild/static_code/denso_headers/*
include pybuild/static_code/hi_headers/*
include pybuild/static_code/BoschCoreAPIEC/*
include pybuild/static_code/BoschCoreAPITL/*
include pybuild/static_code/CSPCoreAPITL/*
include pybuild/static_code/CSPCoreAPIEC/*
include pybuild/static_code/DensoCoreAPIEC/*
include pybuild/static_code/DensoCoreAPITL/*
include test-requirements.txt
include pybuild/matlab_scripts/CodeGen/*
include pybuild/matlab_scripts/helperFunctions/*
include pybuild/matlab_scripts/*
include requirements.txt
prune pybuild/test
prune pybuild/interface/test
prune pybuild/lib/test
